body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

table {
    width: 80%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title h1 {
    color: green;
    text-align: center;
    padding: 50px 0;
    size: 80px;
}

.text {
    padding: 50px;
    text-align: left;
    width: 60%;
}

.image img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

.buttons {
    text-align: center;
    padding: 20px 0;
}

.btn {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #28a745;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover {
    background-color: #2576e6;
}